{% extends "base.html" %}{%  block title %}Login{% endblock %}

{% block left %}
<div class="left" style="display: flex; background-color: var(--background-color)">

  </div>
{% endblock %}

{% block right %}
<div class="right" style="display: flex; background-color: var(--background-color)">
    
  </div>
{% endblock %}

{% block content %}


    <div class="middle" style=" background-color: #d8eefe">

        <div style="display: flex;
        justify-content: center; background-color: var(--background-color); border-radius:20px" >
        <form method="POST" action="/sendcode">

            <h3 style="color: var(--text-color)">Password Reset</h3>
            <br>

            <div class="formdiv">

                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <p>{{ message }}</p>
            <br />
            <button type="submit" class="button1">Send Link</button>


        </form>
        </div>
    </div>



{% endblock %}