

{% extends "base.html" %}

{% block footer %}<script src="{{ url_for('static', filename='summarize.js') }}"></script>{% endblock %}
{%  block title %}Summarize{% endblock %}

{% block left %}
    <div class="left" style="flex: 5 5 150px; background-color: var(--background-color);">
        <div>
            <h3 style="color: var(--nav-color)">Text Summarization</h3>
            <br>
            <textarea id="input-text" rows="20" cols="50" spellcheck="false"></textarea>

            <br><br>
            <div>

                <p id="word-count">Word Count: 0</p>
                

            </div>
            <br>

 
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="middle" style="background-color: var(--background-color);">
    <h3 style="color: var(--nav-color)">Extractive Summary</h3>
    <br>
    <div>
        <textarea id="output-text1" rows="20" cols="50" disabled spellcheck="false"></textarea>

        <br><br>
        <div>

            <p id="word-count2">Word Count: 0</p>
            
            <br>
            <p style="display: inline;">Summary length: </p>
            <select id="dropdown">
                <option value="1">Very Short</option>
                <option value="2">Short</option>
                <option value="3">Long </option>
                <option value="4">Very Long</option>
            </select>
            <br>
            <br>
            <p id = 'time'></p>
            <p style="display: none;" id="titleText">Title: </p>
            <input style="background-color: white; display: none; width: auto" type="text" id="title" name="title" >
            <br>
            <br>
            <button class="button1" onclick="summarize()">Summarize</button>
            <button class="button1" id="button1" style="display: none; " onclick="save()">Save</button>
            

        </div>
    </div>
</div>
{% endblock %}

{% block right %}
    <div class="right" style="flex: 5 5 150px; background-color: var(--background-color);">
        <h3 style="color: var(--nav-color)">Abstractive Summary</h3>
        <br>
        <div>
            <textarea id="output-text2" rows="20" cols="50" disabled spellcheck="false"></textarea>


            <br><br>
            <div>

                <p id="word-count3">Word Count: 0</p>
                

            </div>
        </div>
    </div>
{% endblock %}